@model TownSim.Models.GameData
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Town Sim <a href="@Url.Action("NewGame", "Home")" class="btn btn-default btn-sm">New Game</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Day:
        </div>
        <div class="col-md-1">
            @Model.Day
        </div>
        <div class="col-md-9">
            <a href="#" class="btn btn-default btn-xs">next day</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Actions Left:
        </div>
        <div class="col-md-1">
            1 of @Model.Actions
        </div>
        <div class="col-md-9">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Villagers:
        </div>
        <div class="col-md-1">
            @Model.Villagers
        </div>
        <div class="col-md-9">
            <p> Each villager provides 1 action and consumes 1 food and 2 water a day</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Houses:
        </div>
        <div class="col-md-1">
            @Model.Houses
        </div>
        <div class="col-md-9 ">
            <p><a href="@Url.Action("Build", "Home", new { building = "House"})" class="btn btn-default btn-xs">Build</a> (Costs 5 wood to build)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Wells:
        </div>
        <div class="col-md-1">
            @Model.Wells
        </div>
        <div class="col-md-9 ">
            <a href="@Url.Action("Build", "Home", new { building = "Well"})" class="btn btn-default btn-xs">Build</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Farms:
        </div>
        <div class="col-md-1">
            @Model.Farm
        </div>
        <div class="col-md-9 ">
            <a href="@Url.Action("Build", "Home", new { building = "Farm"})" class="btn btn-default btn-xs">Build</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Food:
        </div>
        <div class="col-md-1">
            @Model.Food
        </div>
        <div class="col-md-9 ">
            <a href="@Url.Action("Gather", "Home", new { resource = "Food"})" class="btn btn-default btn-xs">Gather</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Water:
        </div>
        <div class="col-md-1">
            @Model.Water
        </div>
        <div class="col-md-9 ">
            <a href="@Url.Action("Gather", "Home", new { resource = "Water"})" class="btn btn-default btn-xs">Gather</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Wood:
        </div>
        <div class="col-md-1">
            @Model.Wood
        </div>
        <div class="col-md-9 ">
            <a href="@Url.Action("Gather", "Home", new { resource = "Wood"})" class="btn btn-default btn-xs">Gather</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            Stone:
        </div>
        <div class="col-md-1">
            @Model.Stone
        </div>
        <div class="col-md-9 ">
            <a href="@Url.Action("Gather", "Home", new { resource = "Stone"})" class="btn btn-default btn-xs">Gather</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-9">
            <p><a href="@Url.Action("Explore", "Home")" class="btn btn-default btn-xs">Explore</a>(Great risk! Great Reward)</p>
        </div>
    </div>
</div>